* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: #2E4FD7;
}

/* Header */

.header-navbar {
    margin: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-nav {
    display: flex;
    gap: 53px;
    align-items: center;

}

.header-list {
    display: flex;
    gap: 31px;
    flex-direction: row;
}

/* Header Links */

.header-item > a {
    font-weight: 400;
    color: #191919;
    line-height: 26px;
    letter-spacing: -0.29px;
}

/* HEADER button */
.header-btn {
    background-color: #2E4FD7;
    padding: 5px, 20px, 5px, 20px;
}
.btn {
    /* background-color: #2E4FD7; */
    display: flex;
    gap: 10px;
    padding: 5px, 20px, 5px, 20px;
}
.header__btn-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}
.btn-arrow {
    display: inline-block;
}

.btn a {
    padding: 5px, 20px, 5px, 20px;
}

.header__btn-link {
    padding: 5px, 20px, 5px, 20px;
}

/* HEDAER button */

/* HERO */

.hero {
    margin-top: 145px;
    display: flex;
    gap: 105px;
}
.hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.hero-subtitle {
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 45px;
   letter-spacing: -0.36px;
}
.hero-buttons {
    display: flex;
    gap: 21px;
}
.hero-btn2 > p {
    line-height: 30px;
}

.header-btn > button {
    padding: 5px 20px 5px 20px;
}

button {
    /* padding: 15px 25px 15px 25px; */
    background-color: #2E4FD7;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    letter-spacing: -0.29px;
    display: flex;
    gap: 10px;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.hero-btn2 > button{
    font-weight: 400;
    letter-spacing: -0.29px;
}

.hero-btn > button {
    padding: 15px 25px 15px 25px;
}

.hero-companies {
    margin-top: 85px;
    display: flex;
    gap: 19px;
}
/* Section 1 */
/* Benefits */

.section-1 {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 277px;
}

.benefits-list {
    /* margin-bottom: 50px; */
    margin-right: 164px;
}
.benefit-card {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}
.benefit-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.36px;
}
.benefit-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.29px;

}

.benefit__hero-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.94px;
    margin-bottom: 16px;
}

.benefit__hero-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 28px;
}

.benefit-btn > button {
    padding: 15px 25px 15px 25px;
}

/* 184px */

/* Section 2 */

.section-2 {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 184px;
}
.section-2__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.94px;
    margin-bottom: 38px;
}
.cards {
    display: flex;
    margin-bottom: 48px;
    gap: 30px;
}
.card {
    display: flex;
    gap: 40px;
}
.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.43px;
}
.card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.29px;
}

/* Section 3 */

.section-3 {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 147px;
    display: flex;
    gap: 47px;
    background-color: #E7EBFC;
    padding: 116px 0 116px 95px;
}
.section-3__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.76px;
    margin-bottom: 32px;
}
.section-3__subtitle {
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 32px;
}
.link {
    display: inline-block;
}
.link > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.29px;
    color: #2E4FD7;
}
.right-arrow {
    display: inline-block;
    margin-left: 10px;
}
.section-3__dots {
    display: flex;
    gap: 4px;
    margin-top: 30px;
}
.dot {
    height: 6px;
    width: 6px;
    background-color: #B4B4B4;
    border-radius: 50%;
}
.dot:first-of-type {
    background-color: #2E4FD7;
}

/* Section 4 */

.section-4 {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 179px;
}
.section-4__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.76px;
}
.section-4__content {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.crd-img {
    margin-bottom: 16px;
}
.crd-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.43px;
}
.crd-subtitle {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
}

/* Section 5 */

.section-5 {
    width: 1110px;
    margin: 0 auto;
    margin-top: 163px;
}
.section-5__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.94px;
    text-align: center;
    margin-bottom: 24px;
}
.section-5__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.32px;
    text-align: center;
    margin-bottom: 61px;
}
.section-5__btn {
    margin-bottom: 43px;
}
.section-5__btn > button {
    padding: 15px 25px 15px 25px;
    margin: 0 auto;
}
.line {
    border-bottom: 2px solid #B4B4B4;
    margin-bottom: 50px;
}
.section-5__companies {
    display: flex;
    gap: 30px;
    width: 942px;
    margin: 0 auto;
    margin-bottom: 97.5px;
}

/* Footer */

.footer {
    background-color: #052825;
    padding: 70px 135px 44px 135px;
}
.footer-container {
    width: 1170px;
    margin: 0 auto;
}
.footer-content {
    display: flex;
    margin-bottom: 22px;
}
.footer-text {
    color: #FFFFFF;
}
.footer-logo {
    margin-bottom: 33px;
}
.footer-title {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.32px;
}
.footer-subtitle {
    margin-bottom: 7px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
    max-width: 423px;
}
.link-text {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.29px;
}
.link-img {
    display: inline-block;
    margin-left: 10px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: end;
    margin-right: 0;
    margin-left: auto;
    margin-top: 52px;
}
.links {
    display: flex;
    gap: 22px;
}
.links > a {
    line-height: 26px;
    letter-spacing: -0.29px;
    color: #FFFFFF;
}
.footer-copyrights {
    margin-top: 36px;
    display: flex;
    align-items: center;
}
.copyright-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    width: 387px;
    display: inline-block;
}
.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin-right: 0;
    margin-left: auto;
    display: inline-block;
}